*{
    margin: 0;
    padding: 0;
}


body {
    background-color: #0E9594;
    text-align: center;
}


.container {
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 7px;
}


.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 5rem;
    border-radius: 10px;
    background-color: #F5DFBB;
    border: none;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
    color: #F2542D;
}

#reset-btn{
    padding: 10px;
    background-color: #F5DFBB;
    color: #562C2C;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}